{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hi, Ini project pertama django dari Mustika Tiara (1204027)</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <img width="40%" src="{% static 'img/pic1.jpg' %}" alt="">
    <h1>Selamat Datang</h1>
    <h2>Ini Praktikum Django</h2>
    <h3>Mata Kuliah Keamanan Sistem Informasi</h3>
    <ul>
        <li><a href="/" title="">Home</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="https://www.djangoproject.com/" title="">Official Django</a></li>
    </ul>
</body>
</html>
